@import url(./normalize.css);

.header{
  background-color: skyblue;
  border: 2px solid red;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  white-space: nowrap;
  
}
.logo{
  background-color: red;
  transform: scale(40%);
  align-items: flex-end;
  position: relative;
  top: 75px;
}
.menu{
  background-color: orange;
  display: flex;
  flex-flow: row wrap;
  /* position: absolute; */
  width: auto;
  height: 100px;
  list-style: none;
  align-items: flex-end;
  position: absolute;
  right: 5%;
  bottom: 3%;
  font-size: 16px;
}

.menu span{
  /* background-color: blue; */
  display: inline-block;
  /* flex-flow: row wrap; */
  margin-left:10%;
  margin-right: auto;
}


.main{
  background-color: lightgreen;
  padding: 0 25%;
}
.footer{
  /* background-color: coral; */
  text-align: center;
}